header{
  background-image: linear-gradient(to right, #363636, #555555, #757575, #989898, #bcbcbc);
  align-items: center;
  justify-content: center;
  height: 3.5rem;
}

img{
  max-width: 150px;
}
#carrito{
  max-width: 30px;
}

@media screen and (max-width: 767px){
  .logo-nav-container {
      padding: 1em;
    }
    
    .navigation ul{
      margin: 0;
      padding: 0;
      list-style: none;
    }
li a{
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 5px;
    }
      .navigation ul li a:hover{
      background-color: black;
  }
    .container a {
      text-decoration: none;
      color: white;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
}

@media screen and (min-width: 768px){

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.container a {
  text-decoration: none;
  color: white;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
  li{
      display: inline-block;
  }
      a{
          display: block;
          padding: 0.5rem 1rem;
          transition: all 0.4s linear;
          border-radius: 5px;
      }
  

.navigation ul li a:hover{
  background-color: black;
}
}